@{
    ViewData["Title"] = "New Bear";
}

<form action="/createBear" method="post">
    <section>
        <label for="Title">Title</label>
        <input name="Title">
    </section>
    <section>
        <label for="Img">Image Link</label>
        <input name="Img">
    </section>
    <button>Add</button>
</form>