<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="~/css/styles.css">
        <title>Multiple Controllers</title>
    </head>
    <body>
        <header>
            <h1>Say Hello to our spotlight squishy!</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/garden">Garden</a>
                <a href="/garden/plant">Plant</a>
                <a href="/squishy">Squishy</a>
                <a href="/squishy/one">One Squishy</a>
            </nav>
        </header>
        
    </body>
</html>