body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
