<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
    </head>
    <body>
        <header>
            <h1>Hello from our first cshtml file!!</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/test">Test</a>
            </nav>
        </header>
        
    </body>
</html>